<html>
    <head>
        <title>HEF EL MS</title>
        <meta http-equiv="refresh" content="900">
    </head>
    <body>
      <div style="position:relative;">
        <img src="/images/MSHEM256.png"/>
        <div style="z-index:100; position:absolute; bottom:1228px; left:100px"><%= DateTime.now.strftime("%d-%m-%Y")  %></div>
        <div style="z-index:100; position:absolute; bottom:1208px; left:100px"><%= DateTime.now.strftime("%H:%M")  %></div>

        <div style="position:absolute;">
					<% active = 0.0 %>
					<% reactive = 0.0 %> 
        <% $meters.each do |m| %>
					<% active_val = 0.0 %>
					<% reactive_val = 0.0 %>
					<% active_val =  ($values[m[:chanels][:active]][:value] * $coef_act).round(2) if m[:chanels][:active] != UNKNOWN_CHANEL %>
					<% reactive_val = ($values[m[:chanels][:reactive]][:value] * $coef_react).round(2) if m[:chanels][:reactive] != UNKNOWN_CHANEL %>
					<% active += active_val %>
					<% reactive += reactive_val %>

          <div style="font-weight:bold; z-index:100; position:absolute; bottom:<%= m[:pos][:y] + 347 %>px; left:<%= m[:pos][:x] - 8%>px"><%= active_val  %></div>
          <div style="font-weight: bold; color:red;z-index:100; position:absolute; bottom:<%= m[:pos][:y] + 347 + 20%>px; left:<%= m[:pos][:x] - 8%>px"><%= reactive_val  %></div>
        <% end %>
        </div>
      </div>
    </body>
</html>
